

    <!DOCTYPE html>
    <html>
    <head>
    <style>
    table, th, td {
      border: 1px solid black;
    }

    th, td {
      padding: 10px;
    }

    .droparea {
      width: 200px;
      height: 200px;
      border-style: solid;
      border-width: 3px;
      border-color: red;
      float: left;
      line-height: 200px;
      text-align: center;
  }
    </style>
    </head>
    <body>

    <h1>IMaSC Demo</h1>

    <table>
        <tr>
            <th>Token</th>
            <th>Label</th>
            <th>Confidence Score</th>
        </tr>
    {% for row in rows %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
        </tr>
    {% endfor %}
    </table>


    <div class="container">
    <div class="droparea">Drop Here</div>
    <div class="tablearea" id="tablearea"></div>
    </div>

    </body>
    </html>
