

    <!DOCTYPE html>
    <html>
    <head>
    <style>
    table, th, td {
      border: 1px solid black;
    }

    th, td {
      padding: 10px;
    }
    </style>
    </head>
    <body>

    <h1>IMaSC Demo</h1>

    <table>
        <tr>
            <th>Token</th>
            <th>Label</th>
            <th>Confidence Score</th>
        </tr>
    {% for row in rows %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
        </tr>
    {% endfor %}
    </table>

    </body>
    </html>
